<% include partials/header %>
<div class="jumbotron">
  <h1>Pokédex <img src="/img/pokeball.png"></h1>
  <hr>
  <p>Welcome! Here is your online resource for Pokémon-related info! (Gen-1 only -- the only gen that matters cuz I'm old.)</p>
</div>

<div class="container">
  <div class="row">
    <div>
      <a href="/pokedex">View Pokémon</a>
    </div>
    <div class="col-sm-6">
      <h3>Pokémon types</h3>
      <div class="types">
        <ol>
          <li><a href="/grass">grass</a></li>
          <li><a href="/water">water</a></li>
          <li><a href="/fire">fire</a></li>
          <li><a href="/electric">electric</a></li>
          <li><a href="/ground">ground</a></li>
          <li><a href="/fighting">fighting</a></li>
          <li><a href="/normal">normal</a></li>
          <li><a href="/psychic">psychic</a></li>
          <li><a href="/rock">rock</a></li>
          <li><a href="/ghost">ghost</a></li>
          <li><a href="/dragon">dragon</a></li>
          <li><a href="/flying">flying</a></li>
          <li><a href="/poison">poison</a></li>
          <li><a href="/ice">ice</a></li>
        </ol>
      </div>
    </div>
    <div class="col-sm-6">
      <div>
        <a href="/pokedex/new">Add Pokémon</a>
      </div>
      <div class="submission">
        <!-- <form>
          Pokémon name:
          <input type="text" placeholder="name"><br>
          Pokémon type:
          <input type="text" placeholder="type"><br>
          Image of Pokémon:
          <input type="text" placeholder="image"><br>
          <button type="submit">Submit</button>
        </form> -->
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>