<% include partials/header %>
<div class="jumbotron">
  <h1>Pokédex <img src="/img/pokeball.png"></h1>
  <hr>
  <p>Welcome! Here is your online resource for Pokémon-related info! (Gen-1 only -- the only gen that matters cuz I'm old.)</p>
</div>

<div class="container">
  <div>
    <a href="/pokedex/new">Add Pokémon</a>
  </div>
</div>

<% include partials/footer %>