<% include partials/header %>

<% if (invalidCredentials === "taken") { %>
  <div class="alert alert-danger" role="alert">
    An account with that username already exists.
  </div>
<% } %>

<% if (invalidCredentials === "bad") { %>
  <div class="alert alert-danger" role="alert">
    Passwords must be at least 8 characters long.
  </div>
<% } %>


<h2>Register</h2>

<form action="/register" method="post">
  <div class="form-group">
    <input type="text" name="username" placeholder="username">
  </div>
  <div class="form-group">
    <input type="password" name="password" placeholder="password">
  </div>
  <button class="btn btn-default">Submit</button>
</form>

<% include partials/footer %>